* {
    box-sizing: border-box;
  }
  body{
    background-image: url("../ToDoList/images/Blank.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .lists{
    margin: auto;
    width: 90%;
    border: 2px solid whitesmoke;
    padding: 0px;
    -webkit-box-shadow: 5px 4px 10px 5px rgba(0,0,0,0.77); 
    box-shadow: 5px 4px 10px 5px rgba(0,0,0,0.77);


  }

  .header{
    margin: auto;
    width: 90%;
    border: 1px solid whitesmoke;
    padding: 0px;
    text-align: center;
    -webkit-box-shadow: 5px 4px 10px 5px rgba(0,0,0,0.77); 
    box-shadow: 5px 4px 10px 5px rgba(0,0,0,0.77);
    background-color: darkkhaki;
  }
  .backcont{
    margin-top: 150px;
    margin-left: 450px;
    width: 30%;
    border: 3px solid black;
    padding: 10px;
    
  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  